<ion-header>
  <ion-toolbar>
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2" *ngFor="let video of videos">
        <ion-card [routerLink]="[video.id]" style="height: 350px">
          <img alt="IMAGE" src="{{video.image}}">
          <ion-card-header>
            <ion-card-title>{{video.title}}</ion-card-title>
            <ion-card-subtitle>{{video.speaker}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{(video.description.length>6)? (video.description | slice:0:75)+'...':(video.description)}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

